.wizard {
    padding-bottom: 40px;
    position: relative;
}

.wizard__content {
    display: none;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 10px #999;
    overflow: hidden;
}

.wizard__content_active {
    display: block;
}

.wizard__tabs {
    white-space: nowrap;
    padding: 0 15px;
}

.wizard__tabItem {
    display: inline-block;
    margin-right: 5px;
}

.wizard__tabLink {
    display: block;
    background-color: #dddddd;
    color: #333;
    border-radius: 5px 5px 0 0;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    border-top: 2px solid #dddddd;
    border-left: 2px solid #dddddd;
    border-right: 2px solid #dddddd;
}

.wizard__tabLink_active {
    background-color: #fff;
    cursor: default;
}

.wizard__steps {
    white-space: nowrap;
    padding-bottom: 20px;
}

.wizard__stepItem {
    display: inline-block;
    margin-right: 20px;
}

.wizard__stepLink {
    border-bottom: 1px dashed;
    text-decoration: none;
}

.wizard__stepLink_active {
    border-bottom: none;
    color: #db2c4c;
    cursor: default;
}

.wizard__stepContent {
    display: none;
}

.wizard__stepContent_active {
    display: block;
}

.wizard__column {
    float: left;
    padding-right: 40px;
}

.wizard .checkbox {
    display: block;
    padding: 5px 20px 5px 5px;
    margin-left: -5px;
}

.wizard .checkbox:hover {
    background-color: #eee;
}